if SHIELD_DACTYL_MANUFORM_DONGLE

config ZMK_KEYBOARD_NAME
	default "Dactyl"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	

endif

if SHIELD_DACTYL_MANUFORM_LEFT || SHIELD_DACTYL_MANUFORM_RIGHT || SHIELD_DACTYL_MANUFORM_DONGLE 

config ZMK_SPLIT
	default y

	
endif
